<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.cms.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.it.cms.bean.Category">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ExtendResultMap" type="com.it.cms.bean.extend.CategoryExtend"
               extends="BaseResultMap">
        <association property="cates" column="id" select="queryByParentId"/>
    </resultMap>


    <sql id="Base_Column_List">
        name,description,
        order_num,deleted,parent_id
    </sql>

    <select id="queryByParentId" resultMap="BaseResultMap">
        select *
        from cms_category
        where deleted = 0
          and parent_id = #{parentId}
        order by order_num
    </select>

    <select id="queryAllWithCates" resultMap="ExtendResultMap">
        select *
        from cms_category
        where deleted = 0
          and parent_id is null
    </select>
</mapper>
